<h2>Route Test</h2>

    {{#if model.length}}
    <table class="table">
    <caption>Расходы:  <span class="badge">{{model.length}}</span></caption>
    <thead>
    	<tr>
    		<th>#</th>
    		<th>Наименование</th>
    		<th>Стоимость</th>
    		<th></th>
    	</tr>
    </thead>
    <tbody>
    	{{#each model as |test index|}}
    	      {{table-item item=test index=index model=model}}
    	{{/each}}
    </tbody>
    </table>
    {{else}}
    	{{alert-panel title="Внимание!" body="База пуста, срочно примите меры по наполнению!"}}
    {{/if}}

    {{outlet}}
